.dropdown {
  position: absolute;
  background-color: #f0f4fa;

  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li:hover {
      border: 1px solid black;
    }
  }

  left: 72px;
  top: 54px;
  a {
    color: black;
  }
}
