.dropdown {
  position: absolute;

  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 3;
    background-color: white;
    opacity: 1;
    li {
      &:hover {
        border: 1px solid black;
        background-color: white;
        opacity: 1;
      }
    }
  }

  left: 72px;
  top: 54px;
  a {
    color: black;
  }
  .background {
    position: absolute;
    top: 60px;
    left: 0%;
    width: 100vw;
    height: calc(100vh - 54px);
    margin-top: -60px;
    margin-left: -72px;
    padding: none;
    /*
    z- index must be lower than pop up box
   */
    z-index: 2;
    background-color: Black;
    //for transparency
    opacity: 0.6;
  }
}
