.dropdown {
  position: relative;
  .dropdown-label {
    padding: 10px 7px 10px 7px;
    &:hover {
      border: 1px solid white;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    top: 48px;
    z-index: 2;
    min-width: 150px;
    opacity: 1;

    a {
      color: black;
      font-size: 1.5rem;
      background-color: white;
      &:hover {
        background-color: lightgray;
      }
    }

    .cart-list {
      display: flex;
      flex-direction: column;
    }
  }
  // &:hover .dropdown-content,
  // &:hover .background {
  //   display: flex;
  //   flex-direction: column;
  // }
  // &:hover .background {
  //   &:hover {
  //     display: none;
  //   }
  // }

  .background {
    display: none;
    width: 200vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    left: -50vw;
    display: none;
    z-index: 1;
  }
  .active {
    display: flex;
    display: flex;
    flex-direction: column;
  }
}
