.slideshow {
  margin: 0 auto;

  margin-bottom: 5%;
  overflow: hidden;
  max-width: 400px;
  max-height: 400px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .slide-text {
    position: absolute;
    z-index: 1;
    font-size: 2.5rem;
    color: red;
    font-weight: bold;
    border: 10px solid red;
  }
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.hover {
  opacity: 0.6;
}
