.cart {
  margin-top: 100px;
  min-width: 90%;
  padding: 1%;
  display: grid;
  //grid-template-columns: 250px 4fr 250px;
  grid-template-columns: 1fr 4fr 1fr;
  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
  .section1 {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2%;

    @media (max-width: 800px) {
      grid-column: 1/2;
      justify-content: center;
      .section-item {
        margin: 0;
      }
    }
  }
  .section3 {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2% 0 2%;
    @media (max-width: 800px) {
      grid-column: 2/3;
      grid-row: 1/2;

      justify-content: center;
    }
    .section-item {
      margin-bottom: 10px;
    }
    .subtotal {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .empty-cart {
    color: red;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }
  .cart-list {
    grid-column: 2;
    grid-row: 2;
    @media (max-width: 800px) {
      grid-column: 1/3;
      grid-row: 2/3;
      display: flex;
      flex-direction: column;
      align-items: center;
      .cart-item {
        width: 80%;
      }
    }
  }

  .test-warning {
    color: red;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    @media (max-width: 800px) {
      grid-row: 3/4;
      grid-column: 1/3;
    }
  }
}
