.category-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  //margin: 1% 15% 10% 15%;
  @media (max-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 450px) {
    grid-template-columns: 1fr 1fr;
  }
}
