.header {
  height: 60px;
  display: flex;
  background-color: black;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  justify-content: space-between;

  a,
  .sign-out {
    color: white;
    padding-left: 15px;
    font-size: 1.1em;
    text-decoration: none;
  }
  .user-name {
    color: white;
    font-size: 1.2em;
  }
  .sign-in,
  .sign-out {
    padding-right: 15px;
  }
}
