.header {
  height: 60px;
  display: flex;
  background-color: black;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: space-between;

  .header-links {
    display: flex;
    align-items: center;
  }
  a,
  .sign-out,
  .shop {
    color: white;
    font-size: 1.2em;
    padding: 10px 7px 10px 7px;
    margin: 3px;
    text-decoration: none;
    &:hover {
      border: 1px solid white;
    }
  }
  .shop {
    display: flex;
    padding: 0;
    margin: 3px;
    a {
      font-size: 1em;
      margin: 0;
      justify-content: stretch;
      align-items: stretch;
      border: none;
    }
  }
  .user-name {
    color: white;
    font-size: 1.2em;
  }
  .sign-in,
  .sign-out {
    padding-right: 25px;
  }
}
