.account-dropdown {
  position: relative;
  .dropdown-label {
    padding: 10px 7px 10px 7px;
    color: white;
    font-size: 1.2rem;
    &:hover {
      border: 1px solid white;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    top: 48px;
    z-index: 2;
    min-width: 200px;
    right: 0;
    a {
      color: black;
    }

    .cart-list {
      display: flex;
      flex-direction: column;
    }
  }
  &:hover .dropdown-content,
  &:hover .background {
    display: flex;
    flex-direction: column;
  }
  &:hover .background {
    &:hover {
      display: none;
    }
  }

  .background {
    width: 200vw;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    left: -100vw;
    display: none;
    z-index: 1;
  }
}
