.sign-in-and-sign-up {
  max-width: 75vw;
  width: 70vw;
  display: flex;
  justify-content: center;

  margin: 100px 0;
  gap: clamp(2rem, 5vw, 10vw);
  @media (max-width: 625px) {
    flex-direction: column;
  }
}
