.cart-item {
  display: flex;
  margin: 1% 0 1% 0;
  font-size: 1.3em;
  padding: 1%;
  border: 1px solid gray;

  .item-image {
    max-width: 260px;
    max-height: 260px;
  }
  .quantity-container {
    display: flex;
    gap: 0.25rem;
    button {
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 25px;
      font-size: 1em;
      background-color: white;
      color: black;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .cart-item-info-container {
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .price {
      font-weight: bold;
    }
  }
  .cart-item-info {
    margin: 1% 0 1% 0;
  }
  .remove {
    color: red;
    font-size: 0.8em;
    &:hover {
      text-decoration: underline;
    }
  }
}
